@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.otf');
    font-weight: 100;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLight.otf');
    font-weight: 200;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.otf');
    font-weight: 600;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Ultra.otf');
    font-weight: 800;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}