.ani-fadeIn {
  animation: fadeInAni 0.6s both ease-in-out;
}

.ani-up {
  animation: upAni 0.4s both ease-in-out;
}

.ani-up2 {
  animation: upAni2 0.6s both ease-in;
}

.ani-down {
  animation: upAni 0.4s both ease-out reverse;
}

.ani-scale {
  animation: scaleAni 0.6s both ease-in-out;
}

.ani-scale-r {
  animation: scaleAni 0.6s both ease-in-out reverse;
}

@keyframes fadeInAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes upAni {
  0% {
    transform: translateY(140px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes upAni2 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes downAni {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  65% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(-6px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleAni {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.delay-0 {
  animation-delay: 0;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

@media all and (max-width: 1400px) {
  main#peopleMain #sec2 .card-area ul li {
    width: 20%;
  }
}
@media all and (max-width: 1000px) {
  main#peopleMain #sec2 .card-area ul li {
    width: 25%;
  }
}
@media all and (max-width: 950px) {
  main#peopleMain #sec2 .card-area ul li {
    width: 33.333%;
  }
}
@media all and (max-width: 780px) {
  header {
    z-index: 15;
  }
  header .container {
    padding: 24px 16px 26px 16px;
  }
  header .container .wrap nav h1.left-box a {
    width: 20px;
    left: 10px;
  }
  main#aboutMain {
    width: 100%;
    height: 100%;
  }
  main#aboutMain #sec1 {
    width: 100%;
    height: 100%;
  }
  main#aboutMain #sec1 .title {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  main#aboutMain #sec1 .title .container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  main#aboutMain #sec1 .title .container .left-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 104px;
    text-align: center;
  }
  main#aboutMain #sec1 .title .container .right-box {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
  }
  main#aboutMain #sec1 .title .container h2 {
    font-size: 11.5vw;
    line-height: 180%;
  }
  main#aboutMain #sec1 .title .container h2 i, main#aboutMain #sec1 .title .container h2 span {
    padding: none;
  }
  main#aboutMain #sec1 .title .container h2 span.slogan {
    width: 70%;
  }
  main#aboutMain #sec1 .title .container h2 span.plus {
    display: none;
    vertical-align: baseline;
    opacity: 0;
    position: relative;
  }
  main#aboutMain #sec1 .page {
    width: 100%;
    height: 100%;
  }
  main#aboutMain #sec1 .page .sub-page {
    width: 100%;
    height: 100%;
  }
  main#aboutMain #sec1 .page .sub-page.sub6 .text-box p {
    font-size: 4.3vw;
    padding: 0 20px;
  }
  main#aboutMain #sec1 .page .sub-page.sub6 .text-box strong {
    padding-top: 30px;
  }
  main#aboutMain #sec1 .page .sub-page.sub7 .container {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  main#aboutMain #sec1 .page .sub-page.sub7 .container img {
    width: 90%;
    margin-top: -126px;
    left: 20px;
  }
  main#aboutMain #sec1 .page .sub-page.sub7 .container img:first-child {
    display: none;
  }
  main#aboutMain #sec1 .page .sub-page.sub7 .container img:last-child {
    display: block;
  }
  main#aboutMain #sec2 {
    width: 100%;
    height: 100%;
    padding: 150px 0;
  }
  main#aboutMain #sec2 .container {
    width: 100%;
    padding: 0 20px;
  }
  main#aboutMain #sec2 .container .wrap {
    flex-flow: column;
  }
  main#aboutMain #sec2 .container .wrap .left-area {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
  }
  main#aboutMain #sec2 .container .wrap .left-area img {
    width: 80vw;
  }
  main#aboutMain #sec2 .container .wrap .center-area {
    display: none;
  }
  main#aboutMain #sec2 .container .wrap .right-area {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  main#aboutMain #sec2 .container .wrap .right-area .text-box {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  main#aboutMain #sec3 .container {
    padding: 90px 0;
  }
  main#aboutMain #sec3 .container .wrap .title-area h2 {
    font-size: 32px;
    line-height: 38px;
  }
  main#aboutMain #sec3 .container .wrap .title-area img {
    width: 230px;
    height: auto;
  }
  main#aboutMain #sec3 .container .wrap .slide-area {
    padding: 80px 0;
  }
  main#aboutMain #sec3 .container .wrap .slide-area .slide-view {
    height: 210px;
  }
  main#aboutMain #sec3 .container .wrap .slide-area .slide-view .slide-wrap {
    width: 3200px;
    height: 210px;
  }
  main#aboutMain #sec3 .container .wrap .slide-area .slide-view .slide-wrap .slide {
    width: 329px;
    height: 210px;
    margin-left: 20px;
  }
  main#aboutMain #sec3 .container .wrap .btn-area a {
    width: 80%;
  }
  main#aboutMain #sec4 .container {
    width: 100%;
    padding: 180px 20px;
  }
  main#aboutMain #sec4 .container .wrap {
    margin-bottom: 0;
  }
  main#aboutMain #sec4 .container .wrap h2 img {
    width: 90%;
  }
  main#aboutMain #sec4 .container .wrap .bot-area {
    position: relative;
    width: 100%;
    padding-left: 0;
    border: none;
  }
  main#aboutMain #sec4 .container .wrap .bot-area p {
    width: 100%;
    padding: 5px 0;
  }
  main#aboutMain #sec5 .container {
    width: 100%;
    padding: 90px 20px;
  }
  main#aboutMain #sec5 .container .wrap h4 {
    margin-bottom: 50px;
  }
  main#aboutMain #sec5 .container .wrap h4 br {
    display: block;
  }
  main#aboutMain #sec5 .container .wrap .circle-area {
    height: 728px;
    width: 280px;
    position: relative;
    margin: 0 auto;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    margin: 0 auto;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle h3 {
    padding: 120px 0 10px 0;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle h3 img {
    height: 22px;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle.circle1 {
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle.circle1 h3 {
    padding-top: 110px;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle.circle2 {
    left: auto;
    top: 200px;
    margin: 0 auto;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle.circle3 {
    top: 400px;
    left: 0;
    margin: 0 auto;
  }
  main#aboutMain #sec5 .container .wrap .circle-area .circle.circle3 h3 {
    padding-top: 125px;
  }
  main#aboutMain #sec6 .container {
    width: 100%;
    padding: 80px 20px 200px 20px;
  }
  main#aboutMain #sec6 .container .wrap {
    display: block;
  }
  main#aboutMain #sec6 .container .wrap .left-area h2 {
    font-size: 34px;
    line-height: 38px;
  }
  main#aboutMain #sec6 .container .wrap .left-area .text-box p {
    font-size: 4vw;
    width: 100%;
  }
  main#aboutMain #sec6 .container .wrap .left-area a {
    position: absolute;
    bottom: -120px;
    width: 100%;
    line-height: 60px;
    height: 60px;
  }
  main#aboutMain #sec6 .container .wrap .right-area {
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
  }
  main#aboutMain #sec6 .container .wrap .right-area img {
    width: 100%;
    height: 60%;
    border-radius: 16px;
  }
  main#aboutMain #sec7 {
    width: 100%;
  }
  main#aboutMain #sec7 .container {
    width: 100%;
    padding: 80px 20px;
    padding-bottom: 145px;
  }
  main#aboutMain #sec7 .container .wrap {
    width: 100%;
    position: relative;
  }
  main#aboutMain #sec7 .container .wrap .area {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  main#aboutMain #sec7 .container .wrap .area img {
    width: 100%;
  }
  main#aboutMain #sec7 .container .wrap .area h2 {
    font-size: 32px;
    line-height: 36px;
  }
  main#aboutMain #sec7 .container .wrap .area p {
    width: 100%;
    font-size: 4vw;
  }
  main#aboutMain #sec7 .container .wrap .area .top-box {
    position: relative;
    top: 0;
  }
  main#aboutMain #sec7 .container .wrap .area .bot-box {
    position: relative;
    bottom: 0;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 {
    position: relative;
    width: 100%;
    margin: 0;
    height: auto;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 .left-box {
    width: 100%;
    min-width: 100%;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 .left-box .top-box span {
    font-size: 20px;
    line-height: 28px;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 .left-box .right-box {
    position: relative;
    padding: 80px 0;
    min-width: 100%;
    width: 100%;
    text-align: center;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 .left-box .right-box img {
    position: relative;
    width: 90%;
    max-width: 400px;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 .left-box .bot-box {
    position: relative;
    display: block;
    margin: 0;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 .left-box .bot-box p {
    width: 100%;
  }
  main#aboutMain #sec7 .container .wrap .area.area1 .left-box .bot-box h3 img {
    height: 18px;
  }
  main#aboutMain #sec7 .container .wrap .area.area2 {
    position: relative;
    height: auto;
    margin: 42% 0;
  }
  main#aboutMain #sec7 .container .wrap .area.area2 .left-box {
    min-width: 100%;
    width: 100%;
  }
  main#aboutMain #sec7 .container .wrap .area.area2 .left-box h2 {
    padding-bottom: 0px;
  }
  main#aboutMain #sec7 .container .wrap .area.area2 .left-box .bot-box {
    padding: 20px 0 40px 0;
  }
  main#aboutMain #sec7 .container .wrap .area.area2 .right-box {
    min-width: 100%;
    position: relative;
    height: auto;
  }
  main#aboutMain #sec7 .container .wrap .area.area3 {
    position: relative;
    height: auto;
  }
  main#aboutMain #sec7 .container .wrap .area.area3 .left-box {
    position: relative;
    min-width: 100%;
  }
  main#aboutMain #sec7 .container .wrap .area.area3 .left-box img {
    position: relative;
  }
  main#aboutMain #sec7 .container .wrap .area.area3 .right-box {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding-left: 0;
  }
  main#aboutMain #sec7 .container .wrap .area.area3 .right-box .bot-box {
    bottom: 0;
    padding: 20px 0 40px 0;
    position: relative;
  }
  main#aboutMain #sec8 .container {
    width: 100%;
    padding: 80px 0;
  }
  main#aboutMain #sec8 .container .wrap .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
    margin-top: -60px;
  }
  main#aboutMain #sec8 .container .wrap .bx-viewport {
    overflow: visible !important;
    width: 100%;
  }
  main#aboutMain #sec8 .container .wrap .top-area h2 {
    padding-left: 20px;
  }
  main#aboutMain #sec8 .container .wrap .top-area ul.record-box {
    width: 100%;
    height: 370px;
    padding: 20px;
    margin-left: 87px;
  }
  main#aboutMain #sec8 .container .wrap .top-area ul.record-box li {
    width: 60%;
    padding: 15px;
    margin-left: -60px;
  }
  main#aboutMain #sec8 .container .wrap .top-area ul.record-box li div.record {
    width: 85%;
    padding-bottom: 85%;
  }
  main#aboutMain #sec8 .container .wrap .top-area ul.record-box li div.record span {
    font-size: 16px;
    line-height: 160%;
    bottom: 70px;
    right: 30px;
  }
  main#aboutMain #sec8 .container .wrap .top-area ul.record-box li div.record b {
    font-size: 32px;
    line-height: 38px;
    bottom: 30px;
    right: 30px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area {
    width: 100%;
    flex-flow: column wrap;
    padding: 200px 20px 0px 20px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .left-box {
    position: relative;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box {
    margin-top: 50px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box li:last-child {
    margin-bottom: 0;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box li a {
    width: 100%;
    font-size: 20px;
    padding: 0 20px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box li a::after {
    right: 12px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box li a.link1 {
    height: 56px;
    line-height: 56px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box li a.link2 {
    height: 84px;
    line-height: 24px;
    padding: 16px 70px 16px 20px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box li a.link3 {
    height: 56px;
    line-height: 56px;
  }
  main#aboutMain #sec8 .container .wrap .bot-area .right-box li a.link4 {
    height: 84px;
    line-height: 24px;
    padding: 16px 70px 16px 20px;
  }
  main#serviceMain {
    width: 100%;
    height: 100%;
  }
  main#serviceMain .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
  }
  main#serviceMain .bx-viewport {
    overflow: visible !important;
    position: relative;
  }
  main#serviceMain #sec1 {
    height: 108%;
    background: url(../img/service/service_main_1.jpg) 50% 110% no-repeat;
    background-size: cover;
  }
  main#serviceMain #sec1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: all 3s;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: url(../img/service/service_main_2.jpg) 50% 110% no-repeat;
    background-size: cover;
  }
  main#serviceMain #sec1 .title-box {
    top: 13%;
    margin-top: 0;
  }
  main#serviceMain #sec1 .title-box h2 {
    font-size: 48px;
    line-height: 58px;
  }
  main#serviceMain #sec1 .text-box {
    padding-top: 15px;
  }
  main#serviceMain #sec1 .text-box p {
    font-size: 16px;
    line-height: 160%;
  }
  main#serviceMain #sec2 {
    width: 100%;
    padding-top: 80px;
  }
  main#serviceMain #sec2 .container {
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  main#serviceMain #sec2 .container .wrap {
    width: 100%;
  }
  main#serviceMain #sec2 .container .wrap .area {
    width: 100%;
    padding-bottom: 90px;
  }
  main#serviceMain #sec2 .container .wrap .area h2 {
    font-size: 32px;
    line-height: 46px;
  }
  main#serviceMain #sec2 .container .wrap .area h2 br {
    display: block;
  }
  main#serviceMain #sec2 .container .wrap .area h2 i:nth-child(2) {
    padding: 0;
    padding-right: 20px;
  }
  main#serviceMain #sec2 .container .wrap .area h2 i:nth-child(3) {
    padding: 0;
    padding-left: 20px;
  }
  main#serviceMain #sec2 .container .wrap .area p {
    padding: 20px 0 40px 0;
    line-height: 170%;
    font-size: 4vw;
  }
  main#serviceMain #sec2 .container .wrap .area p br {
    display: block;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 {
    width: 100%;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 ul {
    width: 100%;
    margin-left: 30px;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 ul li {
    width: 75vw !important;
    height: 75vw;
    position: relative;
    padding: 30px 20px 10px 20px;
    margin-left: 0;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 ul li h3.top {
    position: relative;
    width: 100%;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 ul li h3.top img {
    margin: 0 auto;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 ul li .middle {
    position: absolute;
    top: 25%;
    width: 87%;
    text-align: center;
    margin-top: -57px;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 ul li .middle h2 {
    font-size: 32px;
    line-height: 38px;
  }
  main#serviceMain #sec2 .container .wrap .area.area1 ul li a {
    width: 65vw;
    bottom: 20px;
    left: 50%;
    margin-left: -32.5vw;
  }
  main#serviceMain #sec2 .container .wrap .area.area2 p {
    padding-bottom: 40px;
  }
  main#serviceMain #sec2 .container .wrap .area.area2 p br {
    display: block;
  }
  main#serviceMain #sec2 .container .wrap .area.area2 ul {
    margin-left: 30px;
  }
  main#serviceMain #sec2 .container .wrap .area.area2 ul li {
    width: 75vw !important;
    height: 75vw;
  }
  main#serviceMain #sec2 .container .wrap .area.area2 ul li h2 {
    bottom: 30px;
    right: 30px;
    font-size: 26px;
    line-height: 31px;
  }
  main#serviceMain #sec2 .container .wrap .area.area3 .bx-wrapper {
    margin-bottom: 0px;
  }
  main#serviceMain #sec2 .container .wrap .area.area3 p {
    padding-bottom: 40px;
  }
  main#serviceMain #sec2 .container .wrap .area.area3 p br {
    display: block;
  }
  main#serviceMain #sec2 .container .wrap .area.area3 ul {
    margin-left: 30px;
  }
  main#serviceMain #sec2 .container .wrap .area.area3 ul li {
    width: 75vw !important;
    height: 75vw;
  }
  main#serviceMain #sec2 .container .wrap .area.area3 ul li h2 {
    font-size: 26px;
    line-height: 31px;
    bottom: 30px;
    right: 30px;
  }
  main#serviceMain #sec2 .container .wrap .area::before {
    display: none;
    opacity: 0;
  }
  main#serviceMain #sec2 .container .wrap .area::after {
    display: none;
    opacity: 0;
  }
  main#serviceMain #sec2 .container .wrap .area.left::before {
    display: none;
    opacity: 0;
  }
  main#serviceMain #sec2 .container .wrap .area.left::after {
    display: none;
    opacity: 0;
  }
  main#serviceMain #sec2 .container .wrap .area.right::before {
    display: none;
    opacity: 0;
  }
  main#serviceMain #sec2 .container .wrap .area.right::after {
    display: none;
    opacity: 0;
  }
  main#serviceMain #sec2 .container .wrap .area.middle::before {
    display: none;
    opacity: 0;
  }
  main#serviceMain #sec2 .container .wrap .area.middle::after {
    display: none;
    opacity: 0;
  }
  main#serviceMain #modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }
  main#serviceMain #modal .container {
    height: auto;
    width: 90%;
    padding: 30px 20px 20px 20px;
    margin-top: -259px;
    margin-left: -45%;
  }
  main#serviceMain #modal .container .wrap {
    width: 100%;
    height: 100%;
    position: relative;
    flex-flow: column wrap;
  }
  main#serviceMain #modal .container .wrap .left-box {
    position: absolute;
    width: 100%;
    padding-bottom: 70%;
    height: auto;
    bottom: 0px;
  }
  main#serviceMain #modal .container .wrap .right-box {
    padding-left: 0;
    width: 100%;
    padding-bottom: 80%;
  }
  main#serviceMain #modal .container .wrap .right-box h4 {
    padding: 20px 0 10px 0;
  }
  main#serviceMain #modal .container .wrap .right-box p {
    font-size: 14px;
  }
  main#productMain #sec1 {
    background: url(../img/story/story_main_1.png) 50% 85% no-repeat;
    background-size: 50%;
  }
  main#productMain #sec1::before {
    background: url(../img/story/story_main_2.png) 50% 85% no-repeat;
    background-size: 50%;
  }
  main#productMain #sec1 .title-box {
    top: 15%;
    margin-top: 0;
  }
  main#productMain #sec1 .title-box h2 {
    font-size: 48px;
    line-height: 58px;
  }
  main#productMain #sec1 .title-box .text-box {
    padding-top: 15px;
  }
  main#productMain #sec1 .title-box .text-box p {
    font-size: 16px;
  }
  main#productMain #sec2 .container {
    width: 100%;
    padding: 20px;
  }
  main#productMain #sec2 .container .wrap {
    width: 100%;
  }
  main#productMain #sec2 .container .wrap .area {
    width: 100%;
    height: auto;
    padding: 80px 0;
    display: block;
  }
  main#productMain #sec2 .container .wrap .area img {
    width: 100%;
  }
  main#productMain #sec2 .container .wrap .area h2 {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 20px;
  }
  main#productMain #sec2 .container .wrap .area .text-box {
    position: relative;
  }
  main#productMain #sec2 .container .wrap .area .right-box {
    position: relative;
  }
  main#productMain #sec2 .container .wrap .area.area1 {
    margin-bottom: 0;
  }
  main#productMain #sec2 .container .wrap .area.area1 .left-box {
    padding-bottom: 40px;
  }
  main#productMain #sec2 .container .wrap .area.area1 .left-box p {
    width: 100%;
  }
  main#productMain #sec2 .container .wrap .area.area2 {
    margin-bottom: 0;
  }
  main#productMain #sec2 .container .wrap .area.area2 .right-box {
    padding-bottom: 40px;
  }
  main#productMain #sec2 .container .wrap .area.area2 .left-box {
    position: relative;
  }
  main#productMain #sec2 .container .wrap .area.area3 .left-box {
    padding-bottom: 40px;
  }
  main#productMain #sec2 .container .wrap .area.area3 .left-box h2::after {
    right: 0;
    bottom: 20px;
  }
  main#productMain #sec2 .container .wrap .area.area3 .left-box p {
    width: 100%;
  }
  main#productMain #sec3 .container {
    width: 100%;
    padding: 20px;
  }
  main#productMain #sec3 .container .wrap .top-area::after {
    width: 100%;
    height: 250px;
  }
  main#productMain #sec3 .container .wrap .top-area h3 {
    padding-top: 80px;
    font-size: 20px;
    line-height: 24px;
  }
  main#productMain #sec3 .container .wrap .top-area h2 {
    font-size: 48px;
    line-height: 58px;
    padding: 10px 0 84px 0;
  }
  main#productMain #sec3 .container .wrap .top-area img {
    width: 105%;
  }
  main#productMain #sec3 .container .wrap .bot-area {
    display: block;
    height: auto;
    margin-top: 80px;
  }
  main#productMain #sec3 .container .wrap .bot-area .left-box {
    width: 100%;
    padding-right: none;
    padding: 0 70px;
  }
  main#productMain #sec3 .container .wrap .bot-area .left-box img {
    height: auto;
    width: 100%;
  }
  main#productMain #sec3 .container .wrap .bot-area .center-box {
    display: none;
  }
  main#productMain #sec3 .container .wrap .bot-area .right-box {
    width: 100%;
    padding: 80px 0;
  }
  main#productMain #sec3 .container .wrap .bot-area .right-box .text-box h3 {
    font-size: 8.5vw;
    line-height: 140%;
    text-align: center;
  }
  main#productMain #sec3 .container .wrap .bot-area .right-box .text-box p {
    text-align: center;
    padding: 20px 0 40px;
  }
  main#productMain #sec3 .container .wrap .bot-area .right-box .text-box a {
    position: relative;
  }
  main#peopleMain #sec1 .container .wrap .title-box {
    top: 15%;
    margin-top: 0;
  }
  main#peopleMain #sec1 .container .wrap .title-box h2 {
    font-size: 48px;
    line-height: 58px;
  }
  main#peopleMain #sec1 .container .wrap .text-box {
    padding-top: 15px;
  }
  main#peopleMain #sec1 .container .wrap .text-box p {
    font-size: 14px;
    line-height: 160%;
  }
  main#peopleMain #sec2 {
    padding: 80px 0;
  }
  main#peopleMain #sec2 .title-area h2 {
    font-size: 32px;
    line-height: 38px;
    width: 270px;
  }
  main#peopleMain #sec2 .card-area ul {
    padding: 0 10px;
  }
  main#peopleMain #sec2 .card-area ul li {
    width: 50%;
  }
  main#peopleMain #sec3 {
    width: 100%;
    padding: 80px 20px;
  }
  main#peopleMain #sec3 .container {
    width: 100%;
  }
  main#peopleMain #sec3 .container .wrap h2 {
    position: relative;
    width: 304px;
    font-size: 32px;
    line-height: 38px;
  }
  main#peopleMain #sec3 .container .wrap h2 img {
    height: 28px;
  }
  main#peopleMain #sec3 .container .wrap p {
    padding: 20px 0 60px 0;
  }
  main#peopleMain #sec3 .container .wrap p br {
    display: block;
  }
  main#peopleMain #sec3 .container .wrap a {
    width: 100%;
  }
}